In [2]:
import pandas as pd
import numpy as np

In [3]:
# 샘플 데이터 생성
# 1. 학생 성적 데이터
students_data = {
    '이름': ['김철수', '이영희', '박민수', '정다운', '최지은'],
    '수학': [90, 85, 77, 92, 88],
    '영어': [85, 92, 86, 88, 95],
    '과학': [88, 89, 82, 90, 87]
}
df_students = pd.DataFrame(students_data)

In [4]:
# 2. 온라인 쇼핑몰 판매 데이터
sales_data = {
    '날짜': ['2024-01-01', '2024-01-01', '2024-01-02', '2024-01-02', '2024-01-03'],
    '제품': ['A', 'B', 'A', 'B', 'A'],
    '수량': [10, 15, 8, 12, 9],
    '가격': [1000, 1500, 1000, 1500, 1000]
}
df_sales = pd.DataFrame(sales_data)
df_sales['날짜'] = pd.to_datetime(df_sales['날짜'])

In [5]:
# 3. 직원 급여 데이터
employee_data = {
    '부서': ['영업', '개발', '영업', '인사', '개발', '인사'],
    '직급': ['대리', '과장', '사원', '대리', '사원', '과장'],
    '기본급': [3000000, 4500000, 2800000, 3200000, 2900000, 4200000],
    '성과급': [500000, 1000000, 300000, 400000, 350000, 900000]
}
df_employee = pd.DataFrame(employee_data)

# ============ 실습 문제 =================

In [6]:
"""
문제 1: 학생별 평균 점수 계산
- df_students를 사용하여 각 학생의 전체 과목 평균 점수를 계산하세요.
- 평균 점수를 기준으로 내림차순 정렬하세요.
"""

result = df_students.set_index('이름') # result는 df_students의 '이름' 열을 인덱스로 설정한 DataFrame
result['평균']  = result.mean(axis = 1) # axis = 1 : 행 방향으로 계산
result.sort_values('평균', ascending=False)
result.head()

     수학  영어  과학         평균
이름
김철수  90  85  88  87.666667
이영희  85  92  89  88.666667
박민수  77  86  82  81.666667
정다운  92  88  90  90.000000
최지은  88  95  87  90.000000

In [7]:
"""
문제 2: 과목별 클래스 통계
- 각 과목의 평균, 최고점, 최저점을 계산하세요.
- 결과는 과목을 행으로, 통계값을 열로 가지는 DataFrame이어야 합니다.
"""
subjects = df_students.drop('이름', axis = 1)
stats = pd.DataFrame({
    '평균': subjects.mean(),
    '최고점': subjects.max(),
    '최저점': subjects.min()
})
print(stats)
stats.sort_values('평균', ascending=False)

      평균  최고점  최저점
수학  86.4   92   77
영어  89.2   95   85
과학  87.2   90   82

      평균  최고점  최저점
영어  89.2   95   85
과학  87.2   90   82
수학  86.4   92   77

In [8]:
"""
문제 3: 일별 총 매출액 계산
- df_sales를 사용하여 날짜별 총 매출액을 계산하세요.
- 매출액 = 수량 * 가격
"""
df_sales['매출액'] = df_sales['수량'] * df_sales['가격']
# df_sales.groupby('날짜')
# df_sales.groupby('날짜')['매출액'].sum()
df_sales.groupby('날짜')['매출액'].sum().reset_index()

          날짜    매출액
0 2024-01-01  32500
1 2024-01-02  26000
2 2024-01-03   9000

In [9]:
"""
문제 4: 제품별 평균 판매 수량
- 각 제품의 평균 판매 수량을 계산하고,
- 평균 수량이 높은 순서대로 정렬하세요.
"""
df_sales.groupby('제품')['수량'].mean().sort_values(ascending=False)

제품
B    13.5
A     9.0
Name: 수량, dtype: float64

In [10]:
"""
문제 5: 부서별 평균 연봉 계산
- df_employee를 사용하여 각 부서의 평균 연봉을 계산하세요.
- 연봉 = 기본급 + 성과급
"""
df_employee['연봉'] = df_employee['기본급'] + df_employee['성과급']
df_employee.groupby('부서')['연봉'].mean().sort_values(ascending=False)

부서
개발    4375000.0
인사    4350000.0
영업    3300000.0
Name: 연봉, dtype: float64

In [12]:
"""
문제 6: 직급별 성과급 비율
- 각 직급별로 성과급이 기본급에서 차지하는 비율을 계산하세요.
- 결과는 백분율로 표시하세요.
"""
df_employee['성과급비율'] = (df_employee['성과급'] / df_employee['기본급'] * 100).round(2)
df_employee.groupby('직급')['성과급비율']
print(df_employee)

   부서  직급      기본급      성과급       연봉  성과급비율
0  영업  대리  3000000   500000  3500000  16.67
1  개발  과장  4500000  1000000  5500000  22.22
2  영업  사원  2800000   300000  3100000  10.71
3  인사  대리  3200000   400000  3600000  12.50
4  개발  사원  2900000   350000  3250000  12.07
5  인사  과장  4200000   900000  5100000  21.43

In [14]:
df_employee['연봉'] = df_employee['기본급'] + df_employee['성과급']
dept_salary = df_employee.groupby('부서')['연봉'].mean().reset_index()
print(dept_salary)

   부서         연봉
0  개발  4375000.0
1  영업  3300000.0
2  인사  4350000.0

In [15]:
dept_salary.to_csv(index=False, encoding='utf-8-sig')

'부서,연봉\n개발,4375000.0\n영업,3300000.0\n인사,4350000.0\n'

In [17]:
"""
문제 7: 학생들의 과목별 편차
- 각 과목별 평균을 구하고, 
- 학생별로 과목 점수가 평균과 얼마나 차이나는지 계산하세요.
"""
subjects = df_students.drop('이름', axis=1)
means = subjects.mean()
deviations = subjects.subtract(means)
pd.concat([df_students['이름'], deviations], axis=1)

    이름   수학   영어   과학
0  김철수  3.6 -4.2  0.8
1  이영희 -1.4  2.8  1.8
2  박민수 -9.4 -3.2 -5.2
3  정다운  5.6 -1.2  2.8
4  최지은  1.6  5.8 -0.2

In [20]:
"""
문제 8: 매출 증감률 계산
- 일별 매출액을 기준으로 전날 대비 증감률을 계산하세요.
- 결과는 백분율로 표시하세요.
"""
daily_sales = df_sales.groupby('날짜')['매출액'].sum()
daily_sales.pct_change() * 100
daily_sales

날짜
2024-01-01    32500
2024-01-02    26000
2024-01-03     9000
Name: 매출액, dtype: int64

In [27]:
import pandas as pd

# 학생 성적 데이터 생성
data = {
    '이름': ['김철수', '이영희', '박민수', '최영희', '장민준'],
    '국어': [85, 92, 76, 88, 95],
    '영어': [78, 85, 80, 90, 88],
    '수학': [90, 88, 82, 95, 92],
    '과학': [82, 91, 79, 89, 94]
}

df = pd.DataFrame(data)

# 평균 점수 계산
df['평균'] = (df['국어'] + df['영어'] + df['수학'] + df['과학']) / 4

# 등급 부여 (반복문과 조건문 사용)
grades = []
for avg in df['평균']:
    if avg >= 90:
        grades.append('A')
    elif avg >= 80:
        grades.append('B')
    elif avg >= 70:
        grades.append('C')
    elif avg >= 60:
        grades.append('D')
    else:
        grades.append('F')

df['등급'] = grades

# '이름'과 '등급'만 남기기
result_df = df[['이름', '등급']]

# CSV 파일로 내보내기
result_df.to_csv('학생등급.csv', index=False, encoding='utf-8-sig')

# 결과 출력
print(result_df)

    이름 등급
0  김철수  B
1  이영희  B
2  박민수  C
3  최영희  A
4  장민준  A

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

# 샘플 데이터 생성
df = pd.DataFrame({
    'date': ['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04', '2024-01-05'],
    'sales': [100, 150, np.nan, 200, 120],
    'category': ['A', 'B', 'A', 'B', 'A'],
    'price': [1000, 2000, 1500, np.nan, 1800]
})

In [2]:
df['sales_avg'] = df['sales'].mean()
df['price_mode'] = df['price'].mode()[0]
df['sales_cumsum'] = df['sales'].cumsum()

In [3]:
df['sales'] = df['sales'].fillna(df['sales'].mean())
df['price'] = df['price'].fillna(df['price'].mean())

In [9]:
df['category_sales'] = df.groupby('category')['sales'].mean()
df['category_sales'].to_csv('category.csv', index=True)
# df_employee.groupby('부서')['연봉'].mean().sort_values(ascending=False)